.App-header {
  width: 100%;
  min-height: 90px;
  background:  linear-gradient(to right, rgb(122,84,242), rgb(184,64,239));
  color: white;
  border-radius: 0 0 10px 10px;
  position: fixed;
  z-index: 99;
}

.App-header h1 {
  font-size: 28px;
  font-weight: normal;
  margin: 10px 0 0 10px;
}

.App-header p {
  margin: 0 0 0 10px;
  font-size: 16px;
}

.m-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 10px;
  border: none;
  outline: none;
  background: none;
  font-weight: bold;
  color: white;
  opacity: .5;
  transition: .5s;
}

.m-btn:focus {
  opacity: 1;
}